::after,
::before,
* {
    margin: 0;
    padding: 0;
}

:root {
    /* font */
    --normal-font: 400;
    --bold-font: 700;
    --heavy-font: 900;

    /* color */
    --white: hsl(266, 100%, 99%);
    --dark-blue: hsl(273, 85%, 13%);
    --green: hsl(150, 100%, 63%);
    --black: hsl(179, 100%, 0%);

    /* border bottom */
    --border-custom: 3px solid var(--green);
}

@font-face {
    font-family: "fraunces";
    src: url("fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
    font-family: "manrope";
    src: url("fonts/manrope/Manrope-VariableFont_wght.ttf");
}

html {
    font-size: 10px;
    font-family: manrope, "sans-serif";
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    overflow-x: hidden;
}

/* background hero color */
.background-hero {
    display: block;
    position: absolute;
    width: 200%;
    height: calc(35rem + 25%);
    top: 0;
    background: var(--dark-blue);
    border-radius: 0 0 50% 50%;
    z-index: -270;
}

/* header section */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem 4rem;
}

.head1 img {
    aspect-ratio: 1;
    width: 100px;
}

.head2 a {
    font-size: 1.85rem;
    text-decoration: none;
    font-weight: var(--normal-font);
    color: var(--white);
    border-bottom: var(--border-custom);
}

/* hero section */
#hero {
    display: grid;
    place-content: center;
    width: 80%;
    text-wrap: wrap;
    margin-block-end: 3rem;
}

#hero h1 {
    font-family: fraunces, sans-serif;
    font-weight: var(--normal-font);
    font-size: 5rem;
    color: var(--white);
}

#hero h1 span {
    border-bottom: var(--border-custom);
}

.image {
    width: 90%;
    margin-inline: auto;
}

/* all the button */
button {
    width: fit-content;
    padding: 2rem 4rem;
    color: var(--dark-blue);
    font-size: 1.45rem;
    font-weight: var(--bold-font);
    background-color: var(--green);
    border: none;
    margin: 4rem auto;
}

/* article section */
#article-section {
    color: var(--dark-blue);
}
.round-num {
    border: 1px solid var(--black);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    margin-inline: auto;
    margin-block: 2rem;
}

.section-num {
    font-size: 1.95rem;
    font-family: fraunces, sans-serif;
    font-weight: var(--bold-font);
}

#article-section article p {
    font-family: manrope, sans-serif;
    font-size: 1.55rem;
    margin-block-start: 2rem;
}

/* third section */
.image-founder {
    aspect-ratio: 1;
    margin-block-start: 20rem;
    width: 75%;
    position: relative;
    z-index: -20;
}

#image-section article {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 3rem 2rem 0rem 2rem;
    margin-block-start: -4rem;
}

#image-section article h2 {
    font-family: fraunces, sans-serif;
    font-size: 2.45rem;
}

#image-section article p {
    font-size: 1.55rem;
    margin-block-start: 3rem;
    line-height: 1.9;
}

/* footer section */
footer {
    margin-block: 10rem;
}

.logo-box {
    display: flex;
    justify-content: space-between;
    margin-block-start: 7em;
    width: 12rem;
}

.logo {
    aspect-ratio: 1;
}