::after,
::before,
* {
    margin: 0;
    padding: 0;
}

:root {
    /* font */
    --normal-font: 400;
    --bold-font: 700;
    --heavy-font: 900;

    /* color */
    --white: hsl(266, 100%, 99%);
    --dark-blue: hsl(273, 85%, 13%);
    --green: hsl(150, 100%, 63%);
    --black: hsl(179, 100%, 0%);

    /* border bottom */
    --border-custom: 3px solid var(--green);
}

@font-face {
    font-family: "fraunces";
    src: url("fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
    font-family: "manrope";
    src: url("fonts/manrope/Manrope-VariableFont_wght.ttf");
}

html {
    font-size: 10px;
    font-family: manrope, "sans-serif";
}

body {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 5rem;
    overflow-x: hidden;
}

/* background hero color */

.background-hero {
    display: block;
    position: absolute;
    width: 200%;
    height: clamp(55rem, 50vw, 120rem);
    top: 0;
    background: var(--dark-blue);
    border-radius: 0 0 50% 50%;
    z-index: -270;
}

/* header section */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem 4rem;
}

.head1 img {
    aspect-ratio: 1;
    width: 100px;
}

.head2 a {
    font-size: 1.85rem;
    text-decoration: none;
    font-weight: var(--normal-font);
    color: var(--white);
    border-bottom: var(--border-custom);
}

/* hero section */
#hero {
    display: grid;
    place-content: center;
    width: 80%;
    text-wrap: wrap;
    margin-block-end: 3rem;
}

#hero h1 {
    font-family: fraunces, sans-serif;
    font-weight: var(--normal-font);
    font-size: clamp(5rem, 5vw, 7rem);
    color: var(--white);
}

#hero h1 span {
    border-bottom: var(--border-custom);
}

.image {
    width: 90%;
    margin-inline: auto;
}

/* all the button */
button {
    width: fit-content;
    padding: 2rem 4rem;
    color: var(--dark-blue);
    font-size: 1.45rem;
    font-weight: var(--bold-font);
    background-color: var(--green);
    border: none;
    margin: 4rem auto;
}

/* article section */
#article-section {
    color: var(--dark-blue);
}

.par {
    display: flex;
    flex-direction: column;
}

.round-num {
    width: 30px;
    padding: 1rem;
    display: grid;
    place-content: center;
    margin-inline: auto;
}

.round-num .section-num {
    border: 1px solid var(--black);
    border-radius: 50%;
    padding: 2rem;
}

.section-num {
    font-size: 1.95rem;
    font-family: fraunces, sans-serif;
    font-weight: var(--bold-font);
}

.num-article p {
    font-family: manrope, sans-serif;
    font-size: 1.55rem;
    margin-block-start: 2rem;
}

/* third section */
.image-founder {
    aspect-ratio: 1;
    margin-block-start: 20rem;
    width: 30rem;
    position: relative;
    z-index: -20;
}

#image-section article {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 2.75rem;
    margin-block-start: -4rem;
}

#image-section article h2 {
    font-family: fraunces, sans-serif;
    font-size: 3rem;
    font-weight: var(--normal-font);
}

#image-section article p {
    font-size: 1.55rem;
    margin-block: 3rem;
    line-height: 1.9;
}

#image-section article button {
    margin-block: 0;
}

/* footer section */
footer {
    margin-block: 10rem;
}

.logo-box {
    display: flex;
    justify-content: space-between;
    margin-block-start: 7em;
    width: 12rem;
}

.logo {
    aspect-ratio: 1;
}

/* Tablet design */
@media screen and (min-width:680px) {
    .par {
        flex-direction: row;
        column-gap: 5rem;
        margin-block: 2.75rem;
    }

    .num-article {
        text-align: left;
    }

    .image-founder {
        margin-inline-start: -49%;
    }

    #image-section article h2 {
        font-size: 5rem;
    }

    #image-section article {
        text-align: left;
        margin-inline-start: 30%;
        margin-block-start: -13rem;
        padding: 5%;
    }
}

/* Desktop design */
@media screen and (min-width:1024px) {
    #article-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .par {
        flex-direction: column;
    }

    .num-article {
        text-align: center;
    }

    .image-founder {
        scale: 1.5;
    }

    #image-section article {
        margin-inline-start: 35%;
        margin-block-start: -20rem;
    }
}

/* #pat-box {
    display: grid;
    position: relative;
    width: 2000px;
    background-color: blue;
    height: inherit;
    place-content: center;
}


#pat-box .background-pat1 {
    position: absolute;
    top: 10px;
}  */