.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: px-rem(64px);
    height: px-rem(480px);
    padding-top: px-rem(64px);
    background: linear-gradient(to bottom, $dark-purple 90%, $ghost-white 10%);

    .hero-content { 
        & > h1 {
            @each $property, $value in $m-h-large {
                #{$property}: $value;
            }
            color: white;
            padding-bottom: px-rem(40px);

            & > span {
                border-bottom: $underlineStyle;
            }
        }
    }

    .hero-image {
        margin-top: 1rem;
        width: 320px;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}