
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $dark-purple;
    font-size: 1rem;
    padding: px-rem(32px) px-rem(16px) 0 px-rem(16px);

    @include res-to('medium') {
        padding: px-rem(32px) px-rem(40px) 0 px-rem(40px);
    }

    @include res-to("large") {
        padding: px-rem(55px) px-rem(165px);
    }
}